<div style="margin: 0 20px 0 22px;">
<div class="pageMainButtons">
	<button id="bCreateGroup">Create a new Group</button>
</div>
<p>In this view you can:</p>
<p style="font-weight:bold;">
	Administrate your main groups <em>(button on the right)</em>,
	Manage your users <img src="{$BASEURL$}/gfx/icons/manage_users_big.png" style="vertical-align: middle; margin: 3px;" /> and
	Create sub-groups <img src="{$BASEURL$}/gfx/icons/subgroup_big.png" style="vertical-align: middle; margin: 3px;" />
</p>
</div>
<div class="clear"></div>
<div style="margin: 30px 0 0 0"></div>
<div class="innerContainer">
	<div class="pageSectionDivider">Groups</div>
    {GROUPSTABLE}
</div>

{DLGCREATEGROUP}
{DLGGROUPINFO}
<script type="text/javascript">
/* <![CDATA[*/
	$(function() {
		getFeedBack("page.groups", '#feedBackContainer');

		$("#bCreateGroup").button();
		$('#bCreateGroup').click(function() {
			$('#selectGroupRadio0').prop('checked', true);
			$('#createGroupDialog').dialog('open');
		});
		$('.bCreateSubGroup').live('click', function() {
			var groupId = $(this).data('groupid');
			$('#selectGroupRadio' + groupId).prop('checked', true);
			$('#createGroupDialog').dialog('open');
		});

	});
/* ]]> */
</script>