<div class="innerContainer">
	<div class="pageMainButtons">
		<button id="bCreateUser">Create a new User</button>
	</div>	
	<p>In this section you can manage your users. You can create as many users as you wish.</p>
	<p>Click on "Create a new User" to create a person's user profile.</p> 
	
	<div class="pageSectionDivider"> 
		<div class="pageSectionDividerMiddleWrapper"> 
			<div class="pageSectionDividerMiddle"></div> 
		</div> 
		<div class="pageSectionDividerLeft"><div class="pageSectionDividerTitle">My Users</div></div> 
		<div class="pageSectionDividerRight"></div> 
	</div>
{USERTABLE}
</div>
{DLGCREATEUSER}
{DLGUSERINFO}
{DLGCHANGEPASSWORD}
<script type="text/javascript">
/* <![CDATA[*/
	$(document).ready(function() {
		getFeedBack("page.users", '#feedBackContainer');
		
		$("#bCreateUser").button();

		$('#bCreateUser').click(function() {
			$('#createAliasDialog').dialog('open');
		});
	});
/* ]]> */
</script>