<style type="text/css">
	.columnButtons {
		padding: 4px 2px 4px 1px;
	}
</style>
<table id="groupTable" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th style="width: 1px;"></th>
			<th class="columnButtons" style="width: 50px;">Actions</th>
			<th class="columnName">Groupname</th>
			<th class="columnCount">Members</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="4">
				<div style="margin: 3px 0px 3px 0px; text-align: left;">
					{COMMANDS}
				</div>
			</td>
		</tr>
	</tfoot>
	<tbody>
		{ROWS}
	</tbody>
</table>
<script type="text/javascript">
/* <![CDATA[*/
$(function() {

	$('#groupTable').dataTable({
			"bSort": false,
			"sDom": 'fprt<"bottom"i>'
		  	{include:dataTableDefaultSettings.js}
	});

	$(".runCommandButton").button();
});

function sendCommand(command) {
	if (command == '') {
		/* do nothing */
	} else if (command =='delete') {
		deleteElements();
	}
}

function deleteElements() {
	if (confirm('This will remove the selected group(s) from the database and cannot be undone. Remove the groups(s) now?')) {
		ajax({
			url: ("{$BASEURL$}/group/delete"),
			type: "POST",
			data: $('.groupCheckBox ').serialize(),
			success: function(result) {
				location.reload();
			}
		});
	}
}
/* ||> */
</script>