<style type="text/css">
	.columnButtons {
		padding: 4px 2px 4px 1px;
	}
</style>
<table id="projectTable" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th></th>
			<th class="columnButtons">Actions</th>
			<th id="columnName">Name</th>
			<th id="columnSurveys">Surveys</th>
		</tr>
	</thead>
	<tfoot><tr><td colspan="4"></td></tr></tfoot>
	<tbody>
		{ROWS}
	</tbody>
</table>
{DLGCLIENTINFO}
<script type="text/javascript">
/* <![CDATA[*/
$(function() {

	$('#clientTable').dataTable({
		"aaSorting": [[ 2, "asc" ]],
		"aoColumns": [
		  			{"bSortable":false},
		  			{"bSortable":false},
		  			null,
                    null
		  		],
		"sDom": 'fprt<"bottom"i>'
		  	{include:dataTableDefaultSettings.js}
	});
	augmentDataTableHeadersWithTooltips();
});
/* ||> */
</script>