<div style="margin: 0 20px 0 22px;">
	<div class="pageMainButtons">
		<button id="bCreateClient">Create a new Project</button>
	</div>
	<p>In this view you can administrate your projects.</p>
	<div class="clear"></div>
	<div style="margin: 30px 0 0 0"></div>
	<div class="pageSectionDivider">Projects</div>
	{PROJECTTABLE}
</div>
{DLGCREATEPROJECT}
{DLGPROJECTINFO}
<script type="text/javascript">
/* <![CDATA[*/
	$(function() {
		getFeedBack("page.projectAdmin", '#feedBackContainer');

		$("#bCreateProject").button();
		$('#bCreateProject').click(function() {
			$('#createProjectDialog').dialog('open');
		});
	});
/* ]]> */
</script>