	<p style="margin: 0 20px 0 22px;">
		This section provides an overview of all your currently running/closed surveys, which can be analysed.<br />
		<b>You can <em>Analyse your survey</em> by clicking on the <img src="{$BASEURL$}/gfx/icons/chart_bar_big.png" style="vertical-align: middle;" /> respective icon in front of each survey.<br />
		In order to work further with your raw data in SPSS&reg;, Statistica&reg;, etc. you can <span class="info">Export to MS-Excel&reg;</span></b>.
		{INFORMATION}
	</p>

<div class="clear"></div>
<div style="margin: 30px 0 0 0"></div>
    
{SURVEYTABLE}
