<!-- While the editQuestionnaire-View is beeing loaded, there are hidden instances of this source-pattern for each question made -->
<div style="display: none;" id="logicSource{QUESTID}">
	<!--  --Removed other Operators. Theyre not needed for now (for ever?)--
	<select name="operator[]" style="width:100px;" class="operator">
		<option value="OR" id="opOR">OR</option>
		<option value="AND" id="opAnd">AND</option>
		<option value="ANDONLY" id="opAndOnly">AND ONLY</option>
		<option value="XOR" id="opXor">EXCL. OR</option>
	</select>
-->
	<div class="logicElement{QUESTID}">
		<span class="logicElementRemoveButton"></span> <br /><br />
		IF
		<span class="meaningFirst"> any </span> answer(s)
		<select name="values[]" style="width: 200px;" class="value{QUESTID}">{ANSWEROPTIONS}</select>
		<button value="Add" id="addAns" class="addAnswer" style="float:right;" onClick="addAnswer({QUESTID});return false;">Add Answer</button>
		<br />

		<ul style="margin: 10px 0px 0px 30px;" class="answerList{QUESTID}"></ul>
		<p class="logicReminder" id="answerReminder">- - - - - Please add some Elements - - - - -</p>
		<br />

		<span class="meaningSecond"> (or all) are</span> selected, THEN show
		<select name="partType[]" style="width: 100px;"	class="partType{QUESTID}" onChange="partTypeChange();">
			<option value="question" selected="selected">Question</option>
			<option value="section">Section</option>
			<option value="page">Page</option>
		</select>
		
		with id:
		<!--	add All Selectors ServerSide (they are the same for every Source-Pattern on this page), later just show/hide them	-->
		<span class="qSelector">
			<select name="questions[]" class="questSel">{QUESTIONIDS}</select>
			<button class="addQuestionId" id="addQuest" value="Add Question" style="float:right;" onClick="addQuestionId({QUESTID});return false;">Add Question</button>
		</span>
		<span style="display: none;" class="sSelector">

		<select	name="sections[]" class="sectSel">{SECTIONIDS}</select>
		<button class="addSectionId" id="addSect" value="Add Section" style="float:right;" onClick="addSectionId({QUESTID});return false;">Add Section</button></span>
		<span style="display: none;" class="pSelector"><select name="pages[]" class="pageSel">{PAGEIDS}</select>
		<button class="addPageId" id="addPage" value="Add Page" style="float:right; onClick="addPageId({QUESTID});return false;">Add Page</button></span>
		<br />
		<ul style="margin: 10px 0px 0px 30px;" class="targetIds{QUESTID}"></ul>
		<p class="logicReminder" id="idReminder">- - - - - Please add some Elements - - - - -</p>
	</div>
</div>