<form action = "" method = "POST" style="text-align: center;">

	<input type ="hidden" value = "{TOKENVALUE}" name = "token">
	<p style = "text-align: center;">
		Enter your new Password below:
	</p>
	<br />
	<input type = "text" value ="" name = "newPassword" id = "newPassword" style="margin: 5px;"><br />
	<input type="submit" value="Change Password!" name="changePassword" id="changePassword" onClick="showWait();">

</form>

<script type="text/javascript">
/* <![CDATA[*/
	$(function() {
		$('#changePassword').button();
	});
/* ]]> */
</script>