
	<form name="chartType" id="charTypeForm{QUESTIONID}" class="chartTypeForm dropDownForm ui-corner-bl ui-corner-br">
		<p>
			<input type="radio" name="markedBar{QUESTIONID}" value="markedBar{QUESTIONID}" id="qBar{QUESTIONID}" {CHECKBAR}/>Bar-Chart<br />
			<input type="radio" name="markedPie{QUESTIONID}" value="markedPie{QUESTIONID}" id="qPie{QUESTIONID}" {CHECKPIE}/>Pie-Chart
		</p>
	</form>	
    <a href="javascript:void(0);" class="button smallButton" style="margin: 2px -2px 0 0;" id="btnChangeChartType{QUESTIONID}">Change Charttype</a>


<script type="text/javascript">
/* <![CDATA[*/
$(function() {
	$('#qBar{QUESTIONID}').click(function() {
		$('#qPie{QUESTIONID}').prop('checked', false);
			ajax({
				url: ("{$BASEURL$}/survey/update?questionID={QUESTIONID}&barChecked=true&pieChecked=false&surveyID={SURVEYID}"),
				type: "POST",
				success: function(result){
					if (result != null && !(result === "")) {
						$('#{QUESTIONID}').fadeOut('fast', function() {
							$(this).html(result).fadeIn('fast');
							$('.button').button();
						});
					}
				}
			});
	});
	$('#qPie{QUESTIONID}').click(function() {
		$('#qBar{QUESTIONID}').prop('checked', false);
			ajax({
				url: ("{$BASEURL$}/survey/update?questionID={QUESTIONID}&barChecked=false&pieChecked=true&surveyID={SURVEYID}"),
				type: "POST",
				success: function(result){
					if (result != null && !(result === "")) {
						$('#{QUESTIONID}').fadeOut('fast', function() {
							$(this).html(result).fadeIn('fast');
                            $('.button').button();
						});
					}
				}
			});
	});
	
	$("#btnChangeChartType{QUESTIONID}").click(function() {
		$('#charTypeForm{QUESTIONID}').slideToggle('fast');
	});
});
/* ]]> */
</script>