<script type="text/javascript">
$(function() {
	$('.checkboxCell{QUESTIONID}').bind('click', function(event) {
		$(this).find('input[type=checkbox]').each(function() {
			if($(this).attr('checked')) {
		    	$(this).attr('checked', false);
		    } else {
		    	$(this).attr('checked', true);
	 		}
            $(this).trigger("click");

           	/*
           	  this must be done twice
           	  check this out: http://jsfiddle.net/z35KD/1/
           	*/
            if($(this).attr('checked')) {
                $(this).attr('checked', false);
            } else {
                $(this).attr('checked', true);
            }
        });
	});
	$('.checkbox{QUESTIONID}').bind('click', function(event) {
		event.stopPropagation();
 	});
});
</script>