<div id="showGroupInfoDialog" title="Group Information" style="display:none;">
<div id="showGroupInfoDialogContent"></div>
</div>
<script type="text/javascript">
/* <![CDATA[*/
	$(function() {
		$("#showGroupInfoDialog").dialog({
			autoOpen: false,
			height: 650,
			width: 650,
			modal: true,
			open: function(event, ui) {
				augmentDialogWithMaximizeButton($(this), 'showGroupInfoDialog');
			},
			buttons: {
				'Close' : function() {
					$(this).dialog('close');
				}
			},
			Cancel: function() {
				$(this).dialog('close');
			}
		});
	});

	function showGroupInfo(id) {
		ajax({
			url: ("{$BASEURL$}/group/retrieve?html=1&groupID=" + id),
			type: "GET",
			success:
				function (result, status, xhr) {
					if (xhr.status != 200) {
					    var msg = "Sorry but there was an error: ";
					    $('#showGroupInfoDialogContent').html(msg + xhr.status + " " + xhr.statusText);
					} else {
						$('#showGroupInfoDialogContent').html(result);
					}

					{include:copyActionButtons.js}
					$('#showGroupInfoDialog').dialog('open');
				},
			error:
				function (xhr, status, err) {
				    var msg = "Sorry but there was an error: ";
				    $('#showGroupInfoDialogContent').html(msg + xhr.status + " " + xhr.statusText);
					$('#showGroupInfoDialog').dialog('open');
				}
		});
	}
/* ]]> */
</script>