<div id="createAliasDialog" title="Create User" style="display:none;">
	<form id="createAliasForm" action="{$BASEURL$}/user/create">
	{TABLE_EDITUSER}
		<input type="hidden" name="userRefId" value="{USERID}" />
	</form>
</div>
<script type="text/javascript">
/* <![CDATA[*/
$(function() {
	$("#createAliasDialog").dialog({
		autoOpen: false,
		height: 520,
		width: 550,
		modal: true,
		open: function(event, ui) {
			augmentDialogWithMaximizeButton($(this), 'createAliasDialog');				
		},
		buttons: {
			'Create User': function() {
				$(this).dialog('close');
				showWait();
				$('#createAliasForm').submit();
			},
			'Cancel' : function() {
				$(this).dialog('close');
			}
		}, 
		Cancel: function() {
			$(this).dialog('close');
		}
	});
});
/* ]]> */
</script>