<div id="includeParticipantsDialog" title="Copy Participants" style="display:none;">
	<form id="copyParticipantsForm" action="{$BASEURL$}/participant/create" method="POST" >
	<input type="hidden" name="surveyID" value="{SURVEYID}" />
	<table cellpadding="5" cellspacing="0" class="gui-dialog-table">
		<tr>
			<td>
				<b>Copy participants from existing Survey:</b>
			</td>
		</tr>
		<tr>
			<td>
			 	{help:dlg.createSurvey.includeParticipantsOf}
				<select name="includeParticipants" id="includeParticipants" class="gui-dialog-element target">
					{PARTICIPANT_COPY_SURVEYNAMELIST}
				</select>
				<br />
			 </td>
		</tr>
		<tr>
			<td>
			{TYPEPART}
			</td>
		</tr>
	</table>
	<div style="margin: 0px 0px 0px 30px" id="partList"></div>
	</form>
</div>
<script type="text/javascript">
/* <![CDATA[*/

$('.target').change(function() {
	ajax({
	url: ("{$BASEURL$}/participant/retrieve"),
	type: "POST",
	data: $("#copyParticipantsForm").serialize() + "&showlist=showlist",
	success: function(result) {
		$("#partList").html(result);
	}
}); });

function showParticipants(){

}

$(document).ready(function() {
	$("#bCopyParticipants").button();

	$("#includeParticipantsDialog").dialog({
		autoOpen: false,
		height: 500,
		width: 550,
		modal: true,
		open: function(event, ui) {
			augmentDialogWithMaximizeButton($(this), 'includeParticipantsDialog');
		},
		buttons: {
			'Copy Participants': function() {
				$(this).dialog('close');
				showWait();
				$('#copyParticipantsForm').submit();
			},
			'Cancel' : function() {
				$(this).dialog('close');
			}
		},
		Cancel: function() {
			$(this).dialog('close');
		}
	});
	  $('#bCopyParticipants').click(function() {
		    $('#includeParticipantsDialog').dialog('open');
		  });
});
/* ]]> */
</script>