<div id="importParticipantsDialog" title="Import Participants" style="display:none;">
	<form id="importParticipantsForm" action="{$BASEURL$}/participant/create" method="POST" enctype="multipart/form-data">
	<input type="hidden" name="surveyID" value="{SURVEYID}" />
	<table cellpadding="0" cellspacing="0" class="gui-dialog-table">
		<tr>
			<td>
				Choose the file to import (MS-Excel&reg; file):
			</td>
		</tr>
		<tr>
			<td>
			 	<input type="file" name="fromFile" id="fileField" class="gui-dialog-element" />
			 </td>
		</tr>
	</table>
	</form>
</div>
<script type="text/javascript">
/* <![CDATA[*/
$(function() {
$("#importParticipantsDialog").dialog({
	autoOpen: false,
	height: 300,
	width: 600,
	modal: true,
	open: function(event, ui) {
		augmentDialogWithMaximizeButton($(this), 'importParticipantsDialog');
	},
	buttons: {
		'Import': function() {
			if($('#fileField').val() != '') {
				$(this).dialog('close');
				showWait();
				$('#importParticipantsForm').submit();
			}
			$(this).dialog('close');
		},
		'Close' : function() {
			$(this).dialog('close');
		}
	},
	Cancel: function() {
		$(this).dialog('close');
	}
});
});
/* ]]> */
</script>