          		$('.buttonCell').html($('#columnButtons' + id).html());


          		if (obj.state == '{SYSTEMPLATESTR}' || obj.state == '{CLOSEDSTR}') {
          			$('.buttonsEnabled').hide();
          		} else {
          			$('.buttonsEnabled').show();
              		$('.surveyIdHiddenField').val(id);
              		if (obj.state == '{CREATEDSTR}') {
              			$('#bConductSurvey').show();
              		} else {
              			$('#bConductSurvey').hide();
              		}
              		if (obj.state == '{RUNNINGSTR}') {
              			$('#bCloseSurvey').show();
              		} else {
              			$('#bCloseSurvey').hide();
              		}
          		}