<a class="dlgButton" id="bCloseSurveyConfirm" onclick="confirmClose();">Close this survey</a>
<input style="display: none;" type="submit" id="bCloseSurvey" name="bCloseSurvey" value="" />
<script type="text/javascript">
	/* <![CDATA[ */
	function confirmClose(){
		var releaseSurvey = confirm('This will close the survey so that your participants cannot provide any further input to your survey. Are you sure?');
		if (releaseSurvey) {		
			showWait();
			$("#bCloseSurvey").click();
		}	
	}
	/* ]]> */
</script>