<div style="width: 20px; float:right;"><span id="{ID}EditButton" class="gui-icon-button-PAGE_WHITE_EDIT link" title="Edit"></span><span id="{ID}SaveButton" class="gui-icon-button-DISK link invisible" title="Save"></span><span id="{ID}SaveConfirmedIcon" class="gui-icon-button-TICK link invisible" title="Save"></span></div><span id="{ID}" class="editableProperty">{VALUE}</span>
<script type="text/javascript">
/* <![CDATA[*/
$(function() {
	var oldValue{ID} = $('#{ID}').text();
	$('#{ID}SaveConfirmedIcon').hide();
	$('#{ID}SaveButton').hide();
	$("#{ID}EditButton").click(function() {
		$('#{ID}EditButton').hide();
		$('#{ID}inplaceEditHint').hide();
		$('#{ID}SaveButton').show();
		$('#{ID}').html('<input class="gui-inplace-textfield" id="{ID}editableTextField" type="text" name="{NAME}" value="'+ $('#{ID}').text() +'" />');
		$('#{ID}editableTextField').focus();			
	});

	$("#{ID}SaveButton").click(function() {
		{SAVEACTION}
		$('#{ID}SaveButton').hide();
		$('#{ID}SaveConfirmedIcon').fadeIn();
		setTimeout(function() {$('#{ID}SaveConfirmedIcon').hide(); $('#{ID}EditButton').show();}, 1000);
	});	
});	
/* ]]> */
</script>
