<p>{ORGANIZATION} TRAINING PROGRAMME SURVEY</p>
<p></p>
<p>HAVE YOU PARTICIPATED YET? PLEASE SUPPORT THE STUDY.</p>
<hr />
<p></p>
<p>Dear {NAME_OF_PARTICIPANT},</p>
<p></p>
<p>Have you responded to our xxx (Please insert the Name of Your Training Programme)</p>
<p>Survey yet?</p>
<p></p>
<p>SO FAR WE HAVE NOT RECEIVED SUFFICIENT FEEDBACK FROM ALL RESPONDENTS FOR</p>
<p>REPRESENTATIVE RESULTS.</p>
<hr />
<p></p>
<p>PLEASE SUPPORT THE STUDY AND HELP TO IMPROVE THE TRAINING FOR FUTURE LEARNERS!</p>
<p></p>
<p>A number of people from the training programme have given their feedback, but</p>
<p>we still do not have enough answers for a representative result.</p>
<p></p>
<p>Please take part and provide your feedback. Without your answers we won't be</p>
<p>able to issue a valid result and recommendation report.</p>
<p></p>
<p>STATE YOUR OPINION IN JUST 10 MINUTES!</p>
<hr />
<p>It will take you only 10 -15 minutes of your time to complete the web-</p>
<p>questionnaire.</p>
<p></p>
<p>HOW TO GET TO THE WEB-PLATFORM?</p>
<hr />
<p>Please simply click onto the link below and you will be directed right into the</p>
<p>questionnaire.</p>
<p></p>
<p>{LINK}</p>
<p></p>
<p>Then just fill in, press submit and your responses will be automatically</p>
<p>transmitted.</p>
<p></p>
<p>YOUR ANONYMITY</p>
<hr />
<p>We value your personal input and at the same time highly respect your privacy.</p>
<p>Your anonymity is guaranteed as no personal information is required from you as</p>
<p>a respondent.</p>
<p></p>
<p>QUESTIONS?</p>
<hr />
<p>If you have any questions with regards to this survey, please do not hesitate to</p>
<p>contact {ORGANIZATION}.</p>
<p></p>
<p>xxx (Please insert your Personal Contact Details here)</p>
<p></p>
Thank you for your time and valued support!
