<p>Dear {NAME_OF_PARTICIPANT},</p>
<p></p>
<p></p>
<p>YOU HAVE BEEN INVITED TO PARTICIPATE IN A TRAINING PROGRAMME SURVEY of the</p>
<p>{ORGANIZATION}</p>
<p></p>
<p>When participating in a training measure you often get a very good feel for a programme</p>
<p>and its immediate benefits. But you also may identify areas where the programme can still</p>
<p>be improved for future learners.</p>
<p></p>
<p>HOW DO YOU FEEL ABOUT YOUR</p>
<p>xxx (Please insert the name of the training programme) TRAINING AND</p>
<p>THE QUALITY OF THE SERVICES YOU HAVE RECEIVED?</p>
<hr />
<p>{ORGANIZATION} would like to receive your personal feedback in order to be able to</p>
<p>provide the best quality of learning to all learners. Please provide your feedback, and thus</p>
<p>help to make the training experience for our future learners an even better one.</p>
<p></p>
<p>HOW DO I PROVIDE FEEDBACK? SIMPLY CLICK BELOW!</p>
<hr />
<p>You simply need to click on the provided link below and the survey will open in your browser:</p>
<p>{LINK}</p>
<p></p>
<p>Then just fill in, press submit and your responses will be automatically transmitted.</p>
<p></p>
<p>HOW LONG WILL THIS TAKE ME?</p>
<hr />
<p>The entire questionnaire will only take you about 5-10 minutes of your time to complete.</p>
<p>&nbsp;</p>
<p>YOUR ANONYMITY</p>
<hr />
<p>We value your personal input and at the same time highly respect your privacy.</p>
<p>Your anonymity is guaranteed as no personal information is required from you as a respondent.</p>
<p></p>
<p>QUESTIONS?&nbsp;</p>
<hr />
<p>If you have any questions with regards to this survey, please do not hesitate to contact</p>
<p>{ORGANIZATION}</p>
<p>xxx (Please insert your Personal Contact Details here)</p>
<p></p>
<p></p>
<p>Thank you for your time and valued support!</p>