        <tr>
            <td>
                Extended Properties:
            </td>
            <td id="extendedPropertiesField">
                <p>
                    {ADDITIONAL_STUFF}
                </p>
                <textarea id="extendedProps" name="extendedProperties">{EXTENDED_PROPERTIES_CONTENT}</textarea>
                <button id="bSaveExtendedProperties">Save</button>

				<script type="text/javascript">
				/* <![CDATA[*/
	                $(function() {
	                     $('#bSaveExtendedProperties').button();
	                     $('#bSaveExtendedProperties').click(function(){
	                        ajax({
	                            url: ("{$BASEURL$}/survey/update?surveyID={ENTITYID}"),
	                            type: "POST",
	                            data: $("#extendedProps").serialize()
	                        });
	                    });
	                });
				/* ]]> */
				</script>
            </td>
        </tr>
