<div class="feedBackContainer{STATUS}">
	<div style="float: right; margin: -13px -17px 0px 0px; width: 16px; height: 16px;"><a href="javascript:void(0);" title="Close Message" class="gui-icon-BULLET_DELETE" style="width: 16px; height: 16px; display: block;" onclick="$('.feedBackContainer{STATUS}').slideUp()"></a></div>
	{FEEDBACKITEMS}
</div>
<script type="text/javascript">
/* <![CDATA[*/
$(function(){
	$(".feedBackContainer{STATUS}").fadeIn();
	/*setTimeout(function() {
		$(".feedBackContainer{STATUS}").fadeOut();		
	}, 10000);*/
});
/* ]]> */
</script>