<!-- <div style="text-align:center; margin: 10px;">{TOPMIDDLETEXT}</div> -->
<div id="header">
	<div id="masthead" class="container_24" style="height:150px; margin-left: 100px;width: 960px;">
		<div id="branding" class="grid_10" style="height:150px; margin-left: 5px; margin-right: 5px;display: inline;width: 390px;">
			<div class="clear" style="height:34px"></div>
			<div id="blog-title">
				<a title="Metior Solutions" href="{$BASEURL$}/main" rel="home">
					<img src="./gfx/logo.png" title="Metior Solutions" >
				</a>
			</div>
			<div class="clear" style="height:20px"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="logoutLink">{LOGOUT_LINK}</div>
<div id="mainContainer">
	<div id="content">
					<div id="headMenu">{HEADMENU}</div>
					<div style="clear:both;"></div>
					<div id="subheaderShadow"></div>
					<div id="contentMiddle">{CONTENT}</div>
	</div>
</div>
