<div style="text-align:center;padding: 10px 10px 10px 10px;">{TOPMIDDLETEXT}</div>
<div id="mainContainer" style="margin: 10px auto; background: white;">
	<div id="topBorder">
		<div id="topBorderMiddleWrapper">
			<div id="topBorderMiddle"></div>
		</div>
		<div id="topBorderLeft"></div>
		<div id="topBorderRight"></div>
	</div>
	<!-- <div id="header">
		<div id="headerMiddleWrapper">
			<div id="headerMiddle"></div>
		</div>
		<div id="headerLeft"></div>
		<div id="headerRight"></div>
	</div> -->
	<div id="content">
		<table id="contentMiddleWrapper" cellpadding="0" cellspacing="0">
			<tr>
				<td id="contentLeft"></td>
				<td>
					<!-- <div id="subheaderShadow"></div> -->
					<div id="contentMiddle">{CONTENT}</div>
				</td>
				<td id="contentRight"></td>
			</tr>
		</table>
	</div>
	<div id="bottomBorder">
		<div id="bottomBorderMiddleWrapper">
			<div id="bottomBorderMiddle"></div>
		</div>
		<div id="bottomBorderLeft"></div>
		<div id="bottomBorderRight"></div>
	</div>
</div>