<div  style="width: 350px; margin: 10px auto 10px auto;">
	<form id="lostPassword" action="" method="POST">
		<label>Please type in your username and follow these steps below:</label>
		<ol style="margin: 5px; list-style: decimal inside;">
			<li>Type in your user name and click on "Reset Password"</li>
			<li>Check your Inbox for a new E-Mail.</li>
			<li>Click on the link provided in the new E-Mail.</li>
			<li>Enter a new password.</li>
		</ol>
		<p>
	    	<input type="text" name="tokenMail" id="tokenMail" placeholder="Username" value="" style="width: 220px;" />
			<input type="submit" value="Reset Password" name="sendPasswordMail" id="sendPasswordMail" onclick="showWait();" />
		</p>
	</form>
</div>

<script type="text/javascript">
/* <![CDATA[*/
$(function() {
	$('#sendPasswordMail').button();
});
/* ]]> */
</script>