<div style="margin: 0 20px 0 22px;">
    <div class="pageMainButtons">
		<button id="bCreateSurvey" title="Click to create a new Survey">Create a new Survey</button>
	</div>

	In this survey overview you can find and manage all your surveys. You are able to view, which surveys have been created,
	are currently running or have been closed and what response rate was achieved: {INFO_SURVEYEXISTS}
</div>
<div class="clear"></div>
<div style="margin: 30px 0 0 0"></div>
{SURVEYTABLE}
<div id="createSurveyDialog" title="Create Survey" style="display:none;">
	<form id="createSurveyForm" action="{$BASEURL$}/survey/create" method="post">
	<table cellpadding="0" cellspacing="0" class="gui-dialog-table">
		{TYPEPART}
		<tr>
			<td>
				<span>Create copy of:</span>
			</td>
			<td>
				{help:dlg.createSurvey.copyOf}
				<select name="surveyTemplateId" id="surveyTemplate" class="gui-dialog-element">
					{SURVEYNAMELIST}
				</select>
			</td>
		</tr>
		<tr>
			<td>
				Copy participants from:
			</td>
			<td> 	{help:dlg.createSurvey.includeParticipantsOf}
				<select name="includeParticipants" id="includeParticipants" class="gui-dialog-element">
					{PARTICIPANT_COPY_SURVEYNAMELIST}
				</select>
				<br />
			</td>
		</tr>
		<tr><td colspan="2"><div class="gui-dialog-divider"></div></td></tr>
		<tr>
			<td>
				Name:
			</td>
			<td>
                                <input type="text" name="name" id="surveyNameTextField" value="" class="gui-dialog-element" required/>
			 </td>
		</tr>
		<tr>
			<td>
				Description:
			</td>
			<td>
				<input type="text" name="description" id="surveyDescriptionTextField" value="" class="gui-dialog-element" />
			</td>
		</tr>
	</table>
	</form>
</div>

<script type="text/javascript">
/* <![CDATA[*/
	$(document).ready(function() {
        	 	$('#createSurveyForm').validate();
		$("#bCreateSurvey").button();
		$(".runCommandButton").button();

		getFeedBack("page.surveys", '#feedBackContainer');

		$("#createSurveyDialog").dialog({
			autoOpen: false,
			height: 520,
			width: 730,
			modal: true,
			open: function(event, ui) {
				augmentDialogWithMaximizeButton($(this), 'createSurveyDialog');
			},
			buttons: {
				'Create Survey': function() {
                    $('#createSurveyForm').submit();
				},
				'Cancel' : function() {
					$(this).dialog('close');
				}
			},
			Cancel: function() {
				$(this).dialog('close');
			}
		});

		$('#bCreateSurvey').click(function() {
			$('#createSurveyDialog').dialog('open');
			$("#surveyNameTextField").focus();
		});
	});

	function sendCommand(command) {
		if (command == '') {
			/* do nothing */
		} else if (command =='delete') {
			deleteElements();
		}
	}

	function deleteElements() {
		if (confirm('This will remove the selected survey(s) from the list. You will still have access to it via Analyse Reports. Remove the survey(s) now from the list?')) {
			ajax({
				url: ("{$BASEURL$}/survey/delete"),
				type: "POST",
				data: $('.surveyCheckBox ').serialize(),
				success: function(result) {
					location.reload();
				}
			});
		}
	}
/* ]]> */
 </script>