<div id="excPart{QUESTIONID}" class="excludeLinks" style="margin:5px 5px 5px 5px; float:right;">
	<a href="javascript:void(0);" onClick="exclude{QUESTIONID}();" style="color: #86B9E4;">Exclude From Report</a>
</div>
<div style="clear: both; height: 1px;"></div>

<div id="incPart{QUESTIONID}" class="question excludeLinks">
	<p>
		{QUESTIONNAME} - This part is excluded from the report view. To include it again, <a href="javascript:void(0);" onClick="include{QUESTIONID}();" style="color: #86B9E4;">click here</a>
	</p>
</div>

<script type="text/javascript">
/* <![CDATA[*/
function include{QUESTIONID}(){
	ajax({
		url: ("{$BASEURL$}/survey/update?questionID={QUESTIONID}&checked=true"),
		type: "GET",
		success: function(result) {
			$('#incPart{QUESTIONID}').hide();
		    $('#excPart{QUESTIONID}').show();
			$('#{QUESTIONID}').fadeIn('slow');
		}		
	});
}

function exclude{QUESTIONID}(){
    ajax({
        url: ("{$BASEURL$}/survey/update?questionID={QUESTIONID}&checked=false"),
        type: "GET",
        success: function(result) {
            $('#excPart{QUESTIONID}').hide();
            $('#{QUESTIONID}').fadeOut('slow', function() {$('#incPart{QUESTIONID}').show();});
        }       
    });
}
$(function() {
    if ("1" == {INCLUDED}) {
        $('#excPart{QUESTIONID}').show();
        $('#incPart{QUESTIONID}').hide();
    } else {
        $('#excPart{QUESTIONID}').hide();
        $('#incPart{QUESTIONID}').show();   
    }
});

/* ]]> */
</script>