<div class="innerContainer" style="border: #D5D5D5 1px solid; padding: 10px; width: 50%;">
	<div><b>Information about the participant:</b></div>
	<div id="participantInfoBox"></div>
</div>
<script type="text/javascript">
$(function() {
	$.ajax({
		url: ("{$BASEURL$}/participant/retrieve?html=1&participantID={PARTICIPANTID}"),			
		type: "GET",
		success:
			function (result, status, xhr) {
				if (xhr.status != 200) {
				    var msg = "Sorry but there was an error: ";
				    $('#participantInfoBox').html(msg + xhr.status + " " + xhr.statusText);
				} else {
					$('#participantInfoBox').html(result);
				}
			},
		complete: function (xhr, status) {
			hideWait();
			if (xhr.status != 200) {
			    var msg = "Sorry but there was an unexpected error.\nPlease contact the system administrators.\nMessage: ";
			    alert(msg + xhr.status + " " + xhr.statusText);
			}
		}
	});
});
</script>