<form action="{$BASEURL$}/login" method="post">
	<p>
		Geben Sie den Benutzernamen an, mit der Sie sich bei diesem System angemeldet haben und Klicken Sie auf 'Neues Passwort anfordern'.
		Es wird Ihnen dann in Kürze eine Email an die bei diesem Benutzernamen hinterlegten Adresse gesendet, in der ein Link zur Bestätigung des Passwortverlustes enthalten ist.
		Wenn Sie dem dort angegebenen Link folgen, können Sie ein neues Passwort angeben.
	</p>
	<p style="margin-top:5px">
		{MSG_EMAIL}<br /> 
		<label for="username">Benutzername</label>: <input type="text" name="username" id="username" value="" />
	</p>	
	<p style="margin-top:7px">
		<input type="submit" value="Neues Passwort anfordern" name="bConfirm" onclick="showWait();" />
	</p>
</form>