<form action="{$BASEURL$}/login" method="post">
	<p>
		{MSG_PASSWORD}<br />
		<label for="password">Passwort</label><br />
		<input type="password" name="password" id="password" value="{PASSWORD}" />
	</p>	
	<p> 
		<label for="password_rep">Passwort wiederholen</label><br />
		<input type="password" name="password_rep" id="password_rep" value="{PASSWORD}" />
	</p>	
	<p>
		<input type="hidden" value="{TOKEN}" name="token" />
		<input type="submit" value="Neues Passwort setzen" name="bSetPassword" />
	</p>
</form>