<li style="background: #FFFF99; border: 1px #FFCC99 solid; padding: 0px; margin: 5px; ">
	<div style="float: left; width: 500px;background: #FFFF99;">
		{REPORT_TITLE}
	</div>
	<div style="float: left; width: 200px; border-left: 1px #FFCC99 solid;background: #FFFF99; text-align: right;">
		<a href="?page=analyse&report={REPORT_ID}" onclick="showWait();">Open</a>
		<a href="{$BASEURL$}/download?docID={DOCUMENT_ID}" onclick="showWait();">Download</a>
	</div>
	<div style="clear: both;"></div>
</li>