ajax({
	url: ("{$BASEURL$}/survey/update?surveyID={SURVEYID}&" + $('#{ID}editableTextField').serialize()),
	type: "GET",
	success:
		function (result) {
			var obj = jQuery.parseJSON(result);
			if (obj != null) {
				var newValue = obj.{ID};
				$('#{ID}').text(newValue);
				$('#{ID}{SURVEYID}').text(newValue);
				$('select#surveyTemplate > option[value={SURVEYID}]').text(newValue);
				$('select#includeParticipants > option[value={SURVEYID}]').text(newValue);						
			}
			getFeedBack('page.surveys', '#surveyInfoFeedback');
		},
	error:
		function (xhr, status, err) {
		    var msg = "Sorry but there was an error: ";
		    $('#surveyInfoDialogContent').html(msg + xhr.status + " " + xhr.statusText);
		}
});