<div class="innerContainer">
	<div class="helpNextToBigHeader">{help:table.templates}</div>
<div class="pageSectionDivider">
	<div class="pageSectionDividerRightContent"></div>
	Templates
</div>
<!--<div class="pageSectionDivider">-->
<!--	<div class="pageSectionDividerMiddleWrapper">-->
<!--		<div class="pageSectionDividerMiddle"><div class="pageSectionDividerRightContent">{help:table.templates}</div></div>-->
<!--	</div>-->
<!--	<div class="pageSectionDividerLeft"><div class="pageSectionDividerTitle">Templates</div></div>-->
<!--	<div class="pageSectionDividerRight"></div>-->
<!--</div>-->
<table id="surveyTableTemplates" class="surveyTable" cellpadding="0" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th></th>
			<th class="columnButtons">Actions</th>
			<th class="columnName columnBigName">Name of Survey</th>
			<th class="columnCreator">Owner</th>
			<th class="columnCreated">Status</th>
			<th class="columnHighlight"></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="6">
				<div style="margin: 3px 0px 3px 0px; text-align: left;">
					{COMMANDS}
				</div>
			</td>
		</tr>
	</tfoot>
	<tbody>
		{ROWS_TEMPLATES}
	</tbody>
</table>
</div>
<script type="text/javascript">
/* <![CDATA[*/
	$(function() {
		$('#surveyTableTemplates').dataTable({
		"aaSorting": [[ 2, "asc" ]],
		"aaSortingFixed": [[5,'asc']],
		"aoColumns": [
		  			{"bSortable":false},
		  			{"bSortable":false},
		  			null,
		  			null,
		  			null,
		  			{"bVisible":false}
		  		],
		"sDom": 'fprt<"bottom"<"manageSurveysOverall"i>>'
		  	{include:dataTableDefaultSettings.js}
		});
	});
/* ]]> */
</script>