<table cellpadding="0" cellspacing="0" class="gui-dialog-table">
		{BUTTONCELL}
		{DIALOGBUTTONS}
		<tr>
			<td style="font-weight: bold; width: 200px;">
				Name:<br />
			</td>
			<td id="nameField" style="font-weight: bold;">{NAME_TEXTFIELD}</td>
		</tr>
		<tr>
			<td style="font-weight: bold; width: 200px;">
				Owner:<br />
			</td>
			<td id="creatorField" style="font-weight: bold;">{OWNER_TEXTFIELD}</td>
		</tr>
		<tr>
			<td>
				Description:
			</td>
			<td id="descriptionField">{DESCRIPTION_TEXTFIELD}</td>
		</tr>
		{EXTENDED_PROPERTIES}
		<tr>
			<td>
				Status of survey:
			</td>
			<td id="stateField">{STATE_TEXTFIELD}</td>
		</tr>
		<tr><td colspan="2"><div class="gui-dialog-divider"></div></td></tr>
		<tr>
			<td>
				Date of survey creation:
			</td>
			<td id="creationDateField">{DATECREATION_TEXTFIELD}</td>
		</tr>
		<tr class="nonSystemTemplateInfo">
			<td>
				Starting date of survey:
			</td>
			<td id="runningDateField">{DATERUNNING_TEXTFIELD}</td>
		</tr>
		<tr class="nonSystemTemplateInfo">
			<td>
				Closing date of survey:
			</td>
			<td id="closingDateField">{DATECLOSED_TEXTFIELD}</td>
		</tr>
		<tr><td colspan="2"><div class="gui-dialog-divider"></div></td></tr>
		<tr>
			<td>
				Total number of participants:
			</td>
			<td id="totalParticipantsField">{TOTALPARTICIPANTS_TEXTFIELD}</td>
		</tr>
		<tr class="nonSystemTemplateInfo">
			<td>
				Number of submitted questionnaires:
			</td>
			<td id="submittedQuestionnaresField">{SUBMITTEDQUESTIONNARES_TEXTFIELD}</td>
		</tr>
		<tr class="nonSystemTemplateInfo">
			<td>
				Returnrate:
			</td>
			<td id="returnRateField">{RETURNRATE_TEXTFIELD}</td>
		</tr>
	</table>