<table cellpadding="0" cellspacing="0" class="gui-dialog-table">
	{ACTIONS_EDITGROUP}
	<tr>
		<td style="width: 150px;"><b>Name of group:</b></td>
		<td>{NAME_TEXTFIELD}</td>
	</tr>
	<tr>
		<td style="width: 150px;"><b>Subgroup of:</b></td>
		<td>{PARENTGROUP_NAME}</td>
	</tr>
	<tr>
		<td colspan="2"><div class="gui-dialog-divider"></div></td>
	</tr>
</table>
<div>
	<b>Group rights:</b> {USERRIGHTS_LIST}
	<button id="manageGroupRights">Manage group rights</button>
	<button id="saveGroupRights" class="saveGroupRights"
		style="display: none;">Save</button>
	{HINT_INHERITED}


{feature:REGISTER:tableGroupInfoInviteOthers.html}
</div>
<script type="text/javascript">
/* <![CDATA[*/
	$(function() {
		$('#messageBox').hide();
		$('#manageGroupRights').button();
		$('#saveGroupRights').button();
		$('#saveGroupRights').hide();
	    $('#inviteNewUsers').button();

		if ($('.rightItem.inherited').size()>0) {
			$('#inheritedHint').show();
		}

		$('#manageGroupRights').click(function(){
			$('#manageGroupRights').hide();
			$.each($('.rightItem.disabled'), function() {
				if (!$(this).hasClass("inherited")) {
				var input = $(this).find('input');
					if (false
							{RIGHTS_ALLOWED_TO_CHANGE}
					) {
						$(this).removeClass('disabled');
						$(this).addClass('enabled');
					 	input.removeAttr('disabled');
					}
				}
			});
			$('#saveGroupRights').show();
		});

		$('#saveGroupRights').click(function(){
			$('#saveGroupRights').hide();
			ajax({
                url: ("{$BASEURL$}/group/update?groupID={GROUPID}"),
                type: "POST",
                data: $('.rightItem input').serialize(),
                success: function(result) {
                    $.each($('.rightItem.enabled'), function() {
                        var input = $(this).find('input');
                        $(this).addClass('disabled');
                        $(this).removeClass('enabled');
                        input.attr('disabled','disabled');
                    });
                    $('#manageGroupRights').show();
                }
            });
		});
		
		$('#inviteNewUsers').click(function(){
	            ajax({
	                url: ("{$BASEURL$}/group/update?groupID={GROUPID}&token={GROUP_TOKEN}"),
	                type: "POST",
	                data: $('#invitationForm').serialize(),
	                success: function(result) {
	                    
	                }
	            });
		});
		$('#toggleMessageBox').click(function(){
			$('#messageBox').slideToggle();
		});
	});



/* ]]> */
</script>