<form id="createQuestionForm" action="">
	<input type="hidden" name="surveyID" value="{SURVEYID}" />
	<table cellpadding="0" cellspacing="0" class="gui-dialog-table">
		<tr>
			<td width="150" style="width: 150px; vertical-align: middle;">
				<div class="dialogQuestionText"><b>Question Text:</b></div>
			</td>
			<td>
			 	<div class="dialogQuestionText"><input type="text" name="questionText" id="questionText" class="gui-dialog-element" value="{QUESTIONTEXT}" /></div>
			</td>
		</tr>
		<tr>
			<td width="150" style="width: 150px; vertical-align: middle;">
				<div class="dialogQuestionText"><b>Question Alias:</b></div>
			</td>
			<td>
			 	<div class="dialogQuestionText"><input type="text" name="alias" id="alias" class="gui-dialog-element" value="{QUESTIONALIAS}" />{help:dlg.createQuestion.alias}</div>
			</td>
		</tr>
		<tr>
		    <td width="150" style="width: 150px; vertical-align: middle;">
		        <div class="dialogQuestionText"><b>Additional information for the participant:</b></div>
		    </td>
		    <td>
		        <div class="dialogQuestionText"><textarea id="addInfo" name="addInfo" class="tinyEditor_small">{QUESTIONADDINFO}</textarea></div>
		    </td>
		</tr>
		<tr>
			<td style="vertical-align: middle;">
				<b>Question Type:</b>
			</td>
			<td>
			 	<select name="questionType" id="questionType" class="gui-dialog-element"{DISABLED}>
					<option{SELECTED_RADIO} value="radio">Single choice (radio buttons)</option>
					<option{SELECTED_COMBO} value="combo">List of single choices (drop down)</option>
					<option{SELECTED_MULTIPLE} value="multiple">Multiple choice (tick boxes)</option>
					<option{SELECTED_MULTIPLEMATRIX} value="multiplematrix">Matrix multiple choice (multiple choices per row)</option>
					<option{SELECTED_RADIOMATRIX} value="radiomatrix">Matrix single choice (single choice per row)</option>
					<option{SELECTED_TEXTFIELD} value="textfield">Question with up to three answers</option>
					<option{SELECTED_TEXTPART} value="textpart">Introductory text part (no question)</option>
					<option{SELECTED_PHONECALLER} value="textpart_phone">Hint for a telephone interviewer</option>
					<option{SELECTED_SINGLELINE} value="singleline">Single line free text with hint</option>
					<option{SELECTED_AVERAGE_NUM} value="averageNumber">Average Number calculator</option>
					<option{SELECTED_FREETEXT} value="freetext">Freetext</option>
				</select>
				{HELPLINK}
			</td>
		</tr>
	</table>
	<div class="gui-dialog-element editSingleLineHint additionalOptions gui-dialog-divider" style="clear:both;"></div>
	<div class="editSingleLineHint additionalOptions">
		<p>Specify the hint for the textfield (e.g. 'Format: DD/YYYY')</p>
		<p>
			<input type="text" name="singleLineHint" style="width: 70%;" value="{SINGLELINE_HINT}" />
		</p>
	</div>
	<div class="gui-dialog-element editAverageNumHint additionalOptions gui-dialog-divider" style="clear: both;"></div>
	<div class="editAverageNumHint additionalOptions">
		<p>Specify a hint for the textfield to use special numbers (e.g. 'Format: 500$ per Month (earnings)')</p>
		<p>
			<input type="text" name="averageNumHint" style="width: 70%;" value="{AVERAGE_NUM_HINT}" />
		</p>
	</div>
	<div class="gui-dialog-element editAlignmentSection additionalOptions gui-dialog-divider" style="clear:both;"></div>
	<div class="editAlignmentSection additionalOptions">
		<p>Specify the alignment of the question options</p>
		<p>
			<input type="radio" id="selectHorizontal" name="alignment" value="HORIZONTAL"{SELECTED_HORIZONTAL} /><label for="selectHorizontal">Horizontal</label><br />
			<input type="radio" id="selectVertical" name="alignment" value="VERTICAL"{SELECTED_VERTICAL} /><label for="selectVertical">Vertical</label><br />
		</p>
	</div>
	<div class="gui-dialog-element editOptionSection additionalOptions gui-dialog-divider" style="clear:both;"></div>
	<div class="editOptionSection additionalOptions">
		<p>Specify the <span class="editSubQuestionSection">horizontal</span> response options of the question</p>
		<p>
				<input type="text" name="optionText" id="optionText" style="width: 615px;" />
				<span id="bAddOption" class="link underlinedLink">Add</span>
		</p>
		<ul id="optionList" class="gui-dialog-element">
		{OPTIONS}
		</ul>
	</div>
	<div class="gui-dialog-element editSubQuestionSection additionalOptions gui-dialog-divider" style="clear:both;"></div>
	<div class="editSubQuestionSection additionalOptions">
		<p>Specify the vertical sub options of the question</p>
		<p>
			<input type="text" name="subQuestionText" id="subQuestionText" style="width: 615px;" />
			<span id="bAddSubQuestion" class="link underlinedLink">Add</span>
		</p>
		<ul id="subQuestionList" class="gui-dialog-element">
		{SUBQUESTIONS}
		</ul>
	</div>
	<div class="gui-dialog-element editTextPartSection additionalOptions gui-dialog-divider" style="clear:both;"></div>
	<div class="editTextPartSection additionalOptions">
		<p>Enter the text you wish to display</p>
		<p>
			<textarea class="tinyEditor" name="editTextPartArea" id="editTextPartArea">{TEXTVALUE}</textarea>
		</p>
	</div>
	</form>