<div>
	<table id="topic{TOPIC_ID}" class="topic{ID} topicItemTable">
		<tbody>
		    <tr>
		        <td class="topicAnswerCount"><span title="Number of assigned answers">{ANSWER_COUNT}</span></td>
		        <td class="topicControls">
		            <span title="Remove this topic" class="topicControl deleteTopic">remove</span>
		            <span title="Edit the title of this topic" class="topicControl editTopic">edit</span>            
		        </td>
		    </tr>
		    <tr>
		        <td colspan="2" class="topicTitle"><span class="itemText itemText{ID}" data-itemCount="{ANSWER_COUNT}" data-combo="{COMBINATIONIDS}">{TOPIC_TITLE}</span></td>
		    </tr>
	    </tbody>
	</table>
</div>