<div class="innerContainer">
	<div class="pageSectionDivider">Current Tasks</div>
<!--	<div class="pageSectionDivider"> -->
<!--		<div class="pageSectionDividerMiddleWrapper"> -->
<!--			<div class="pageSectionDividerMiddle"></div> -->
<!--		</div> -->
<!--		<div class="pageSectionDividerLeft"><div class="pageSectionDividerTitle">Current Tasks</div></div> -->
<!--		<div class="pageSectionDividerRight"></div> -->
<!--	</div>-->

	{CURRENTTASKS}

	<div class="pageSectionDivider">Log</div>

<!--	<div class="pageSectionDivider"> -->
<!--		<div class="pageSectionDividerMiddleWrapper"> -->
<!--			<div class="pageSectionDividerMiddle"></div> -->
<!--		</div> -->
<!--		<div class="pageSectionDividerLeft"><div class="pageSectionDividerTitle">Log</div></div> -->
<!--		<div class="pageSectionDividerRight"></div> -->
<!--	</div>-->

	{LOG}


</div>