<h1>Welcome to our Training Programme Survey! </h1>
<p></p>
<p>Dear valued Participant,</p>
<p></p>
<p><b>How do you feel about our training and the quality of our services?</b></p>
<p></p>
<p>On the following pages you have the opportunity to give us feedback. It is our aim to respond to your needs. Your responses will thus be used to evaluate whether our quality is up to your standards, and where we must improve.</p>
<p></p>
<p><b>The entire questionnaire will only take you about 5-10 minutes of your time to complete.</b></p>
<p></p>
<p>We value your personal input and at the same time highly respect your privacy. Your anonymity is guaranteed as no personal information is required from you as a respondent.</p>
<p></p>
<p><b>Questions?</b></p>
<p></p>
<p>If you have any questions with regards to this survey, please do not hesitate to contact us.</p>
<p></p>
<p>Thank you for your time and valued support!</p>
<p></p>
<p><b>Please click "Continue with next page" to begin.</b></p>