@CHARSET "ISO-8859-1";

a.headerName:link {
	font-weight: bold; 
	color: white; 
	text-decoration: none;
}

a.headerName:visited { 
	font-weight: bold; 
	color: white; 
	text-decoration: none;
}

a.headerName:focus { 
	font-weight: bold; 
	color: white; 
	text-decoration: none;
}

a.headerName:hover { 
	font-weight: bold; 
	color: white; 
	text-decoration: none;
}

a.headerName:active { 
	font-weight: bold; 
	color: white; 
	text-decoration: none;
}

table{
	/* width:800px; */
	border-collapse:collapse;
	border-spacing: 0px;
}

table, th, td{
	border: 0px;
	padding:0px;
	margin:0px;
}

th{
	height:50px;
	margin:0px;
	padding:0px;
}

.blogContent{
	vertical-align: top;
}

.blogContentDivision{
	vertical-align: top;
}

.blogEntry{
	padding: 10px 20px 10px 20px;
	color: black;
}

.blogInnerContent{
	background-image: url(../gfx/blog/bg_repeat.png);
	background-repeat: repeat-y;
	width:600px;
}

.blogInnerContent_head{
	background-image: url(../gfx/blog/bg_top.png);
	background-repeat: no-repeat;
	width:600px;
	height:30px;
}

.blogTitle{
	font-size: 1.5em;
}

.blogText{
}

.centerContent{
	text-align:center;
}

.cfiller_01{
	background-image: url(../gfx/blog/column/column_02.png);
	width:200px;
	height:87px;
}

.cfiller_02{
	background-image: url(../gfx/blog/column/column_04.png);
	width:200px;
	height:73px;
}

.cfiller_03{
	background-image: url(../gfx/blog/column/column_06.png);
	width:200px;
	height:72px;
}

.cfiller_04{
	background-image: url(../gfx/blog/column/column_08.png);
	width:200px;
	height:82px;
}

.cfiller_05{
	background-image: url(../gfx/blog/column/column_10.png);
	width:200px;
	height:45px;
}


.cfiller_06{
	background-image: url(../gfx/blog/column/column_12.png);
	width:200px;
	height:70px;
}

.chalk{
	color: white;
	font-size: 40px;
	font-style: italic;
}

.clearFloat{
	float:none;
	clear:both;
}

.columns{
	background-image: url(../gfx/blog/column/column_01.png);
	width:200px;
	height: 62px;
}

.divider{
	border-bottom-width:1px;
  	border-bottom-style:solid;
  	border-bottom-color:white;
  	height:1px;
  	clear:both;
  	margin:5px;
}

.divider_fat{
	border-bottom-width:3px;
  	border-bottom-style:solid;
  	border-bottom-color:white;
  	height:3px;
  	clear:both;
  	margin:0px;
}

.footerStyle{
	width:1000px;
	margin: 0 auto 0 auto;
	
}

.headerName{
	font-size: 40px;
	font-weight: bold;
	width:380px;
	float:left;
}

.headerStyle{
	width:1000px;
	height:50px;
	margin: 0 auto 0 auto;
}

.headMenu{
	width:1000px;
	height:300px;
}

.loginBox{
	float:right;
	width:200px;
}

.loginField{
	width:100px;
	height:15px;
}

.mainContainer{
	color: white;
	width:1000px;
	display:block;
	margin: 0 auto;
	
}

.menue_01{
	background-image: url(../gfx/menue/Polaroids_01.png);
	width: 68px;
	height: 223px;
}

.menue_02{
	width: 214px;
	height: 223px;
}

.menue_03{
	width: 227px;
	height: 223px;
}

.menue_04{
	width: 231px;
	height: 223px;
}

.menue_05{
	width:260px;
	height: 223px;
}

.menue_06{
	background-image: url(../gfx/menue/Polaroids_06.png);
	background-repeat: no-repeat;
	width: 1000px;
	height: 27px;
}


.silhouette{
  background-image: url(../gfx/woman_silhouette.png);
  background-repeat: no-repeat;
  background-position: center 50px;
}

.startPageTable{
	width: 1000px;
	height: 800px;
}

.stoneBackground{
	background:  url(../gfx/stoneBG.jpg);
	background-attachment: fixed;
	background-position: center;
}

.titleInput{
	width:500px;
	height: 40px;
	font-size: 1.2em;
}
